<html>


				
		
	<body>
	 <section style="padding: 40px;" id="html2pdf">
	
				<tr>
					<th><center>HEADING OF FILE</center></th>
				</tr>
			<table style="margin: 0 auto;width: 100%;border-top: 2px solid black;border-bottom: 2px solid black;row-gap: 10px">
				<tr>
					<td>Name</td>
					<td>anila</td>
				</tr>
				<tr>
					<td>Age</td>
					<td>18</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>female</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>243545646546</td>
				</tr>
				<tr>
					<td>Country</td>
					<td>India</td>
				</tr>
				<tr>
					<td>Address</td>
					<td>dsgrdg house</td>
	</table>			</tr>
	</section>
				<tr>
					<td></td>
					<td><center><button type="button" id="export" >Generate PDF</center></td>
				</tr>
		
	</body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
		 <script type="text/javascript">
   						var count=0;
   						let htmlPDF=document.getElementById("html2pdf");
    						let exportpdf=document.getElementById("export");
							
    						var opt = {
        
        					filename:    'Example.pdf',
       		 				html2canvas:{
          					scale:5,
         			 		logging:true
        						     }
      
    						};
    						exportpdf.onclick=(e)=>{ if(count==0){
      						html2pdf(htmlPDF,opt)
      						count=count+1;
    						}
    						else{
      							alert("Already created");
    						     }
 						 }
   
  			</script> 
</html>